#newsid{
	padding: 30px;
	text-align: center;
}

#newsid h3{
	text-align: left;
}

.col-sm #jojo{

	border: solid purple;
	border-width: 30px;
}

.col-sm #kadita{

	border: solid purple;
	border-width: 30px;
}

.col-sm #umigomi{

	border: solid purple;
	border-width: 30px;
}

body{

	color: white;
}